<dialog class="hamburger-dialog" open>
    <div>
        <div>
            <h2>바로가기</h2>
        </div>
        <div>
            <a href="#">
                <strong>로그인</strong>
                <span>하세요</span>
            </a>
            <ul>
                <li><a href="#"><span><img src="assets/images/mail-icon.png" alt="메일 이미지" width="48" height="48"></span><span>메일</span></a></li>
                <li><a href="#"><span><img src="assets/images/cafe-icon.png" alt="카페 이미지" width="48" height="48"></span><span>카페</span></a></li>
                <li><a href="#"><span><img src="assets/images/store-icon.png" alt="스토어 이미지" width="48" height="48"></span><span>스토어</span></a></li>
                <li><a href="#"><span><img src="assets/images/blog-icon.png" alt="블로그 이미지" width="48" height="48"></span><span>블로그</span></a></li>
                <li><a href="#"><span class="securities-icon-wrap"><img src="assets/images/securities-icon.png" alt="증권 이미지" width="48" height="48"></span><span>증권</span></a></li>
                <li><a href="#"><span><img src="assets/images/keep-icon.png" alt="keep 이미지" width="48" height="48"></span><span>Keep</span></a></li>
                <li><a href="#"><span><img src="assets/images/talktalk-icon.png" alt="톡톡 이미지" width="48" height="48"></span><span>톡톡</span></a></li>
                <li><a href="#"><span><img src="assets/images/pay-icon.png" alt="네이버페이 이미지" width="48" height="48"></span><span>네이버페이</span></a></li>
            </ul>
        </div>
        <div class="hamburger-dialog-btm">
            <div>
                <strong>전체서비스</strong>
                <a href="#">
                    <span>서비스검색</span>
                </a>
            </div>
            <div>
                <section class="hamburger-dialog-news">
                    <div>
                        <strong>뉴스<span>4</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/weather-icon.png" alt="날씨" width="32" height="32"></span><span>날씨</span></a></li>
                        <li><a href="#"><span><img src="assets/images/news-icon.png" alt="뉴스" width="32" height="32"></span><span>뉴스</span></a></li>
                        <li><a href="#"><span><img src="assets/images/sport-icon.png" alt="스포츠" width="32" height="32"></span><span>스포츠</span></a></li>
                        <li><a href="#"><span><img src="assets/images/enter-icon.png" alt="엔터" width="32" height="32"></span><span>엔터</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>금융·자산<span>4</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/pay-icon.png" alt="네이버페이" width="32" height="32"></span><span>네이버페이</span></a></li>
                        <li><a href="#"><span><img src="assets/images/home-icon.png" alt="부동산" width="32" height="32"></span><span>부동산</span></a></li>
                        <li><a href="#"><span class="securities-icon-wrap"><img src="assets/images/securities-icon.png" alt="증권" width="32" height="32"></span><span>증권</span></a></li>
                        <li><a href="#"><span><img src="assets/images/mycar-icon.png" alt="MY CAR" width="32" height="32"></span><span>MY CAR</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>엔터테인먼트·문화<span>9</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/game-icon.png" alt="네이버게임" width="32" height="32"></span><span>네이버게임</span></a></li>
                        <li><a href="#"><span><img src="assets/images/tv-icon.png" alt="네이버TV" width="32" height="32"></span><span>네이버TV</span></a></li>
                        <li><a href="#"><span><img src="assets/images/series-icon.png" alt="시리즈" width="32" height="32"></span><span>시리즈</span></a></li>
                        <li><a href="#"><span><img src="assets/images/series-on-icon.png" alt="시리즈온" width="32" height="32"></span><span>시리즈온</span></a></li>
                        <li><a href="#"><span><img src="assets/images/audio-icon.png" alt="오디오클립" width="32" height="32"></span><span>오디오클립</span></a></li>
                        <li><a href="#"><span><img src="assets/images/novel-icon.png" alt="웹소설" width="32" height="32"></span><span>웹소설</span></a></li>
                        <li><a href="#"><span><img src="assets/images/webtoon-icon.png" alt="웹툰" width="32" height="32"></span><span>웹툰</span></a></li>
                        <li><a href="#"><span><img src="assets/images/chzzk-icon.png" alt="치지직" width="32" height="32"></span><span>치지직</span></a></li>
                        <li><a href="#"><span><img src="assets/images/vibe-icon.png" alt="VIBE" width="32" height="32"></span><span>VIBE</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>쇼핑<span>5</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/gift-icon.png" alt="선물샵" width="32" height="32"></span><span>선물샵</span></a></li>
                        <li><a href="#"><span><img src="assets/images/live-icon.png" alt="쇼핑라이브" width="32" height="32"></span><span>쇼핑라이브</span></a></li>
                        <li><a href="#"><span><img src="assets/images/store-icon.png" alt="스토어" width="32" height="32"></span><span>스토어</span></a></li>
                        <li><a href="#"><span><img src="assets/images/delivery-icon.png" alt="지금배달" width="32" height="32"></span><span>지금배달</span></a></li>
                        <li><a href="#"><span><img src="assets/images/fashion-icon.png" alt="패션타운" width="32" height="32"></span><span>패션타운</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>멤버십<span>2</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/membership-icon.png" alt="멤버십" width="32" height="32"></span><span>멤버십</span></a></li>
                        <li><a href="#"><span><img src="assets/images/membership-student-icon.png" alt="멤버십스튜던트" width="32" height="32"></span><span>멤버십스튜던트</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>내도구<span>8</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/form-icon.png" alt="네이버 폼" width="32" height="32"></span><span>네이버 폼</span></a></li>
                        <li><a href="#"><span><img src="assets/images/memo-icon.png" alt="메모" width="32" height="32"></span><span>메모</span></a></li>
                        <li><a href="#"><span><img src="assets/images/mail-icon.png" alt="메일" width="32" height="32"></span><span>메일</span></a></li>
                        <li><a href="#"><span><img src="assets/images/address-icon.png" alt="주소록" width="32" height="32"></span><span>주소록</span></a></li>
                        <li><a href="#"><span><img src="assets/images/calender-icon.png" alt="캘린더" width="32" height="32"></span><span>캘린더</span></a></li>
                        <li><a href="#"><span><img src="assets/images/talktalk-icon.png" alt="톡톡" width="32" height="32"></span><span>톡톡</span></a></li>
                        <li><a href="#"><span><img src="assets/images/keep-icon.png" alt="Keep" width="32" height="32"></span><span>Keep</span></a></li>
                        <li><a href="#"><span><img src="assets/images/mybox-icon.png" alt="MYBOX" width="32" height="32"></span><span>MYBOX</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>인증<span>9</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/id-icon.png" alt="신분증" width="32" height="32"></span><span>신분증</span></a></li>
                        <li><a href="#"><span><img src="assets/images/certificate-icon.png" alt="인증서" width="32" height="32"></span><span>인증서</span></a></li>
                        <li><a href="#"><span><img src="assets/images/qualifications-icon.png" alt="자격증" width="32" height="32"></span><span>자격증</span></a></li>
                        <li><a href="#"><span><img src="assets/images/electronic-document-icon.png" alt="전자문서" width="32" height="32"></span><span>전자문서</span></a></li>
                        <li><a href="#"><span><img src="assets/images/electronic-certificate-icon.png" alt="전자증명서" width="32" height="32"></span><span>전자증명서</span></a></li>
                        <li><a href="#"><span class="book-icon-wrap"><img src="assets/images/book-icon.png" alt="책이음" width="32" height="32"></span><span>책이음</span></a></li>
                        <li><a href="#"><span><img src="assets/images/pass-icon.png" alt="출입증" width="32" height="32"></span><span>출입증</span></a></li>
                        <li><a href="#"><span><img src="assets/images/collection-icon.png" alt="컬렉션" width="32" height="32"></span><span>컬렉션</span></a></li>
                        <li><a href="#"><span><img src="assets/images/student-alumni-card-icon.png" alt="학생동문증" width="32" height="32"></span><span>학생동문증</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>커뮤니티·콘텐츠<span>6</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/band-icon.png" alt="밴드" width="32" height="32"></span><span>밴드</span></a></li>
                        <li><a href="#"><span><img src="assets/images/blog-icon.png" alt="블로그" width="32" height="32"></span><span>블로그</span></a></li>
                        <li><a href="#"><span><img src="assets/images/bboom-icon.png" alt="뿜" width="32" height="32"></span><span>뿜</span></a></li>
                        <li><a href="#"><span class="influencer-icon-wrap"><img src="assets/images/influencer-icon.png" alt="인플루언서" width="32" height="32"></span><span>인플루언서</span></a></li>
                        <li><a href="#"><span><img src="assets/images/cafe-icon.png" alt="카페" width="32" height="32"></span><span>카페</span></a></li>
                        <li><a href="#"><span><img src="assets/images/premium-content-icon.png" alt="프리미엄콘텐츠" width="32" height="32"></span><span>프리미엄콘텐츠</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>지도·여행<span>5</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/reservation-icon.png" alt="네이버예약" width="32" height="32"></span><span>네이버예약</span></a></li>
                        <li><a href="#"><span><img src="assets/images/map-icon.png" alt="지도" width="32" height="32"></span><span>지도</span></a></li>
                        <li><a href="#"><span><img src="assets/images/aviation-icon.png" alt="항공권" width="32" height="32"></span><span>항공권</span></a></li>
                        <li><a href="#"><span><img src="assets/images/hotel-icon.png" alt="호텔" width="32" height="32"></span><span>호텔</span></a></li>
                        <li><a href="#"><span><img src="assets/images/myplace-icon.png" alt="MY플레이스" width="32" height="32"></span><span>MY플레이스</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>사전·지식<span>5</span></strong>
                    </div>
                    <ul>
                        <li><a href="#"><span><img src="assets/images/boost-course-icon.png" alt="부스트코스" width="32" height="32"></span><span>부스트코스</span></a></li>
                        <li><a href="#"><span><img src="assets/images/dictionary-icon.png" alt="사전" width="32" height="32"></span><span>사전</span></a></li>
                        <li><a href="#"><span><img src="assets/images/expert-icon.png" alt="엑스퍼트" width="32" height="32"></span><span>엑스퍼트</span></a></li>
                        <li><a href="#"><span><img src="assets/images/encyclopedia-icon.png" alt="지식백과" width="32" height="32"></span><span>지식백과</span></a></li>
                        <li><a href="#"><span><img src="assets/images/intellectual-icon.png" alt="지식in" width="32" height="32"></span><span>지식iN</span></a></li>
                    </ul>
                </section>
                <section>
                    <div>
                        <strong>파트너서비스<span>14</span></strong>
                    </div>
                    <div>
                        <div>
                            <p>창작자 지원</p>
                            <ul>
                                <li><a href="#"><span><img src="assets/images/influencer-center-icon.png" alt="인플루언서센터" width="32" height="32"></span><span>인플루언서센터</span></a></li>
                                <li><a href="#"><span><img src="assets/images/creator-advisor-icon.png" alt="크리에이터어드바이저" width="32" height="32"></span><span>크리에이터어드바이저</span></a></li>
                            </ul>
                        </div>
                        <div>
                            <p>소상공인 지원</p>
                            <ul>
                                <li><a href="#"><span><img src="assets/images/financial-center-icon.png" alt="네이버 비즈니스 금융센터" width="32" height="32"></span><span>네이버 비즈니스 금융센터</span></a></li>
                                <li><a href="#"><span class="business-school-icon-wrap"><img src="assets/images/business-school-icon.png" alt="네이버 비즈니스 스쿨" width="32" height="32"></span><span>네이버 비즈니스 스쿨</span></a></li>
                                <li><a href="#"><span><img src="assets/images/smart-place-icon.png" alt="스마트 플레이스" width="32" height="32"></span><span>스마트 플레이스</span></a></li>
                                <li><a href="#"><span><img src="assets/images/smart-store-icon.png" alt="스마트스토어센터" width="32" height="32"></span><span>스마트스토어센터</span></a></li>
                                <li><a href="#"><span><img src="assets/images/talktalk-partner-icon.png" alt="톡톡 파트너센터" width="32" height="32"></span><span>톡톡 파트너센터</span></a></li>
                                <li><a href="#"><span><img src="assets/images/modoo-icon.png" alt="modoo!" width="32" height="32"></span><span>modoo!</span></a></li>
                            </ul>
                        </div>
                        <div>
                            <p>기업용 솔루션</p>
                            <ul>
                                <li><a href="#"><span><img src="assets/images/login-icon.png" alt="네이버 로그인" width="32" height="32"></span><span>네이버 로그인</span></a></li>
                                <li><a href="#"><span><img src="assets/images/analytics-icon.png" alt="네이버 애널리틱스" width="32" height="32"></span><span>네이버 애널리틱스</span></a></li>
                                <li><a href="#"><span><img src="assets/images/cloud-platform-icon.png" alt="네이버 클라우드 플랫폼" width="32" height="32"></span><span>네이버 클라우드 플랫폼</span></a></li>
                                <li><a href="#"><span><img src="assets/images/works-icon.png" alt="네이버웍스" width="32" height="32"></span><span>네이버웍스</span></a></li>
                            </ul>
                        </div>
                        <div>
                            <p>광고</p>
                            <ul>
                                <li><a href="#"><span><img src="assets/images/search-advertisement-icon.png" alt="검색광고" width="32" height="32"></span><span>검색광고</span></a></li>
                                <li><a href="#"><span><img src="assets/images/display-advertising-icon.png" alt="디스플레이광고" width="32" height="32"></span><span>디스플레이광고</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div>
                <ul>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">전체서비스</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
                <ul>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
                <a href="#"></a>
            </div>
        </div>
    </div>
</dialog>