@charset "UTF-8";
body {
  min-width: 1340px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, a {
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "ë§‘ì€ ê³ ë”•", helvetica, "Apple SD Gothic Neo", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header,
main {
  width: 1280px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 0.3rem 0 8px;
  height: 215px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
}
.headerTop > div > .top_hamburgerArea > div > button,
.headerTop > div > .top_payLink > a {
  position: relative;
  padding: 0.5rem;
}
.headerTop > div > .top_hamburgerArea > div > button:hover::before,
.headerTop > div > .top_payLink > a:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 3rem;
  height: 3rem;
  background: #e7eced;
  border-radius: 50%;
}
.headerTop > div > .top_hamburgerArea,
.headerTop > div > .top_payLink {
  position: absolute;
}
.headerTop > div > .top_hamburgerArea {
  left: -1.2rem;
}
.headerTop > div > .top_hamburgerArea > .top_hamburgerBtn > button::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -311px -151px;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.headerTop > div > .top_payLink {
  left: 2.1rem;
}
.headerTop > div > .top_payLink > a {
  display: block;
}
.headerTop > div > .top_payLink > a::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: 0 -318px;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.headerTop > ul > li {
  position: absolute;
}
.headerTop > ul > li > button, .headerTop > ul > li > a {
  position: relative;
  padding: 0.5rem;
}
.headerTop > ul > li > button:hover::before, .headerTop > ul > li > a:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 3rem;
  height: 3rem;
  background: #e7eced;
  border-radius: 50%;
}
.headerTop > ul > .top_talkArea {
  right: 6.3rem;
}
.headerTop > ul > .top_talkArea > button::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -132px -318px;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.headerTop > ul > .top_notiArea {
  right: 3.05rem;
}
.headerTop > ul > .top_notiArea > button::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -311px -217px;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.headerTop > ul > .top_shopArea {
  right: -0.2rem;
}
.headerTop > ul > .top_shopArea > a {
  display: block;
}
.headerTop > ul > .top_shopArea > a::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -66px -318px;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}

.headerBtm > .btm_searchWrap, .headerBtm > .btm_menuWrap {
  position: absolute;
}
.headerBtm > .btm_searchWrap {
  display: flex;
  width: 709px;
  border: 1px solid #03c75a;
  border-radius: 50px;
  top: 3.25rem;
  left: 50%;
  transform: translateX(-51%);
  overflow: hidden;
}
.headerBtm > .btm_searchWrap:hover {
  box-shadow: 0 4px 4px 0.1px rgba(0, 0, 0, 0.07);
}
.headerBtm > .btm_searchWrap > a {
  display: block;
  padding: 1.05rem 1rem 1.1rem 1.7rem;
}
.headerBtm > .btm_searchWrap > a > span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.headerBtm > .btm_searchWrap > a > span > svg {
  fill: #03c75a;
}
.headerBtm > .btm_searchWrap > form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerBtm > .btm_searchWrap > form > .btm_search {
  width: 480px;
  height: 58px;
  background: white;
  border: none;
  outline: none;
  padding: 17px 0;
  line-height: 16px;
  font-size: 1.3rem;
  font-weight: bold;
}
.headerBtm > .btm_searchWrap > form > .btm_search::-ms-clear, .headerBtm > .btm_searchWrap > form > .btm_search::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.headerBtm > .btm_searchWrap > form > .btm_search::-webkit-search-decoration, .headerBtm > .btm_searchWrap > form > .btm_search::-webkit-search-cancel-button, .headerBtm > .btm_searchWrap > form > .btm_search::-webkit-search-results-button, .headerBtm > .btm_searchWrap > form > .btm_search::-webkit-search-results-decoration {
  display: none;
}
.headerBtm > .btm_searchWrap > form > .btm_search::-moz-placeholder {
  color: transparent;
  font-weight: normal;
}
.headerBtm > .btm_searchWrap > form > .btm_search::placeholder {
  color: transparent;
  font-weight: normal;
}
.headerBtm > .btm_searchWrap > form > .btm_search:focus::-moz-placeholder {
  color: rgb(225, 225, 225);
}
.headerBtm > .btm_searchWrap > form > .btm_search:focus::placeholder {
  color: rgb(225, 225, 225);
}
.headerBtm > .btm_searchWrap > form > div {
  display: flex;
  align-items: center;
  height: 100%;
}
.headerBtm > .btm_searchWrap > form > div .btm_autoComplete {
  height: 100%;
}
.headerBtm > .btm_searchWrap > form > div .btm_autoComplete::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -344px -45px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
}
.headerBtm > .btm_searchWrap > form > div .btm_submit {
  padding: 1.05rem 1.7rem 1.1rem 1rem;
}
.headerBtm > .btm_searchWrap > form > div .btm_submit > span {
  display: block;
  width: 25px;
  height: 25px;
}
.headerBtm > .btm_searchWrap > .btm_keyboard {
  position: absolute;
  top: 0;
  right: 5.6rem;
  padding-block: 1.4rem;
}
.headerBtm > .btm_searchWrap > .btm_keyboard::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -273px -279px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}
.headerBtm > .btm_searchWrap > .btm_keyboard:hover::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -248px -279px;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}
.headerBtm > .btm_menuWrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1.7rem;
}
.headerBtm > .btm_menuWrap > ul {
  display: flex;
  gap: 0.8rem;
}
.headerBtm > .btm_menuWrap > ul > li > a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.headerBtm > .btm_menuWrap > ul > li > a:hover > span:first-child::after {
  border-radius: 40%;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.05);
}
.headerBtm > .btm_menuWrap > ul > li > a > span {
  display: block;
  width: 40px;
  font-size: 0.9rem;
  letter-spacing: -1.8px;
  text-align: center;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_mail > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -205px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_mail > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_cafe > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -41px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_cafe > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_blog > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: 0px -219px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_blog > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_store > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -41px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_store > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_news > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -270px -205px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_news > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_cert > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -123px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_cert > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_realty > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: 0px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_realty > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_map > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -270px 0px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_map > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_webtoon > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -164px -260px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_webtoon > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_chzzk > span:first-child {
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_chzzk > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_chzzk > span:first-child > img {
  position: absolute;
  inset: 0;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_chzzk > span:last-child {
  white-space: nowrap;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_more {
  margin-right: 0.5rem;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_more > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -270px -164px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_more > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad {
  position: relative;
  padding-inline: 1.2rem;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  display: block;
  width: 1px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad > span:first-child {
  position: relative;
  width: 40px;
  height: 40px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad > span:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -153px -142px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad > span:first-child > img {
  position: absolute;
  inset: 0.2px;
  border-radius: 50px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad > span {
  letter-spacing: -1px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad > i {
  position: absolute;
  top: -6.5px;
  right: 10px;
}
.headerBtm > .btm_menuWrap > ul > li > .btm_ad > i::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -93px -397px;
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
}
.headerBtm > .btm_advert {
  position: absolute;
  right: 0.45rem;
  bottom: 0.97rem;
}

.main {
  display: flex;
  gap: 30px;
}
.main .sectionLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: 100vh;
}
.main .sectionRight {
  flex: 0.505;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}

.sectionLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 1.1rem;
}
.sectionLogin > p {
  font-size: 0.98rem;
}
.sectionLogin > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #03c75a;
  width: 100%;
  font-size: 0.95rem;
  color: white;
  padding-block: 1.1rem;
  border-radius: 3px;
}
.sectionLogin > a:hover {
  background: #17b75e;
}
.sectionLogin > a > i::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -130px -301px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
}
.sectionLogin > nav > ul {
  display: flex;
}
.sectionLogin > nav > ul > li:not(:first-child) {
  position: relative;
}
.sectionLogin > nav > ul > li:not(:first-child) > a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 1px;
  height: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.sectionLogin > nav > ul > li > a {
  display: block;
  padding-inline: 0.8rem;
  font-size: 0.83rem;
  margin-block: 0.2rem;
  color: #606060;
}
.sectionLogin > nav > ul > li > a:hover {
  text-decoration: underline;
}

.sectionBanners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sectionBanners > a {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.sectionBanners > .happybean {
  height: 240px;
}
.sectionBanners > .store {
  height: 80px;
}

.sectionMostItems {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 1rem;
}
.sectionMostItems > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sectionMostItems > div:first-child > h2 {
  font-size: 1.1rem;
  line-height: 1.2;
  word-break: keep-all;
}
.sectionMostItems > div:first-child > a {
  font-size: 0.83rem;
  padding-inline: 0.35rem;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #606060;
  letter-spacing: -1px;
}
.sectionMostItems > div:first-child > a:hover {
  text-decoration: underline;
}
.sectionMostItems > div:last-child {
  position: relative;
}
.sectionMostItems > div:last-child > button {
  position: absolute;
  top: 28px;
  padding: 0.95rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: white;
  z-index: 1;
}
.sectionMostItems > div:last-child > button:first-child {
  left: -1rem;
}
.sectionMostItems > div:last-child > button:first-child > i::before {
  left: -2px;
  border-left: 2px solid #80868c;
  transform: rotate(-45deg);
}
.sectionMostItems > div:last-child > button:nth-child(2) {
  right: -1rem;
}
.sectionMostItems > div:last-child > button:nth-child(2) > i::before {
  right: -2px;
  border-right: 2px solid #80868c;
  transform: rotate(45deg);
}
.sectionMostItems > div:last-child > button > i {
  position: relative;
  background: red;
}
.sectionMostItems > div:last-child > button > i::before {
  content: "";
  position: absolute;
  top: -4px;
  display: block;
  border-top: 2px solid #80868c;
  width: 5px;
  height: 5px;
}
.sectionMostItems > div:last-child > div {
  display: flex;
  gap: 0.4rem;
}
.sectionMostItems > div:last-child > div > article {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.sectionMostItems > div:last-child > div > article:hover > div > img {
  scale: 1.1;
}
.sectionMostItems > div:last-child > div > article > div {
  border-radius: 5px;
  overflow: hidden;
  height: 90px;
}
.sectionMostItems > div:last-child > div > article > div > img {
  transition: scale 0.2s;
}
.sectionMostItems > div:last-child > div > article > p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 90px;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #101010;
}

.sectionWeather {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
}
.sectionWeather > .weather_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionWeather > .weather_top > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sectionWeather > .weather_top > div > h2 > a {
  display: block;
  font-size: 1rem;
  letter-spacing: -1px;
}
.sectionWeather > .weather_top > div > h2 > a:hover {
  text-decoration: underline;
}
.sectionWeather > .weather_top > div > a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #80868c;
  border-radius: 30px;
  font-size: 0.72rem;
  padding-block: 0.3rem;
  padding-inline: 0.47rem;
}
.sectionWeather > .weather_top > div > a::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: 0px -444px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.sectionWeather > .weather_top p {
  font-size: 0.9rem;
  color: #606060;
}
.sectionWeather > .weather_btm {
  display: flex;
  gap: 2.3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.4rem;
}
.sectionWeather > .weather_btm > a:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.sectionWeather > .weather_btm > a:first-child > span:first-child {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.sectionWeather > .weather_btm > a:first-child > span:first-child > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: -174px 0px;
  background-repeat: no-repeat;
  width: 86px;
  height: 86px;
}
.sectionWeather > .weather_btm > a:first-child > span:first-child > span > span {
  display: flex;
  flex-direction: column;
  letter-spacing: -2px;
}
.sectionWeather > .weather_btm > a:first-child > span:first-child > span > span:first-child {
  font-size: 2.55rem;
}
.sectionWeather > .weather_btm > a:first-child > span:first-child > span > span:last-child {
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.1;
  padding-left: 0.3rem;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span {
  display: flex;
  justify-content: center;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:first-child {
  gap: 0.5rem;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:first-child > span {
  letter-spacing: -0.5px;
  font-size: 0.95rem;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:first-child > span:first-child {
  position: relative;
  color: #3172e7;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:first-child > span:first-child::after {
  content: "/";
  position: absolute;
  bottom: 2px;
  right: -5px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.2);
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:first-child > span:last-child {
  color: #cd3534;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:last-child {
  gap: 0.8rem;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:last-child > span {
  font-size: 0.9rem;
  letter-spacing: -1px;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:last-child > span:first-child {
  position: relative;
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:last-child > span:first-child::after {
  position: absolute;
  right: -8px;
  top: 8px;
  content: "";
  display: flex;
  align-items: center;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.sectionWeather > .weather_btm > a:first-child > span:last-child > span:last-child > span > span {
  color: #3172e7;
}
.sectionWeather > .weather_btm > a:last-child {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sectionWeather > .weather_btm > a:last-child::before {
  content: "";
  position: absolute;
  top: 30px;
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}
.sectionWeather > .weather_btm > a:last-child > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionWeather > .weather_btm > a:last-child > span:first-child > span:last-child {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}
.sectionWeather > .weather_btm > a:last-child > span:first-child > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: -132px -522px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionWeather > .weather_btm > a:last-child > span:nth-child(2) > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: -165px -522px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionWeather > .weather_btm > a:last-child > span:nth-child(3) > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: -165px -522px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionWeather > .weather_btm > a:last-child > span:nth-child(4) > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: -198px -522px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionWeather > .weather_btm > a:last-child > span:last-child > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: -198px -522px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionWeather > .weather_btm > a:last-child > span > span:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  letter-spacing: -0.5px;
}
.sectionWeather > .weather_btm > a:last-child > span > span:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}
.sectionWeather > .weather_btm > a:last-child > span > span:last-child {
  font-size: 0.8rem;
  color: #606060;
}

.sectionStock {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
}
.sectionStock > .stock_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionStock > .stock_top > div {
  display: flex;
  align-items: center;
}
.sectionStock > .stock_top > div:first-child {
  gap: 0.4rem;
}
.sectionStock > .stock_top > div:first-child > h2 > a {
  display: block;
  font-size: 1rem;
  letter-spacing: -1px;
}
.sectionStock > .stock_top > div:first-child > h2 > a:hover {
  text-decoration: underline;
}
.sectionStock > .stock_top > div:first-child > i::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -340px -351px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.sectionStock > .stock_top > div:last-child {
  gap: 0.5rem;
}
.sectionStock > .stock_top > div:last-child > div {
  display: flex;
  gap: 0.2rem;
}
.sectionStock > .stock_top > div:last-child > div > span {
  font-size: 0.8rem;
  color: #606060;
  letter-spacing: -0.5px;
}
.sectionStock > .stock_top > div:last-child > button::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -318px -334px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.sectionStock > .stock_btm {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
}
.sectionStock > .stock_btm > div:first-child {
  display: flex;
  overflow: hidden;
  width: 180px;
}
.sectionStock > .stock_btm > div:first-child > a {
  display: flex;
  flex-direction: column;
}
.sectionStock > .stock_btm > div:first-child > a:first-child > span:last-child > span {
  color: #3172e7;
}
.sectionStock > .stock_btm > div:first-child > a:nth-child(2) > span:last-child > span, .sectionStock > .stock_btm > div:first-child > a:last-child > span:last-child > span {
  color: #cd3534;
}
.sectionStock > .stock_btm > div:first-child > a > span:first-child {
  font-size: 0.9rem;
}
.sectionStock > .stock_btm > div:first-child > a > span:nth-child(2) > span {
  margin-bottom: 0.4rem;
}
.sectionStock > .stock_btm > div:first-child > a > span:nth-child(2) > span:first-child {
  font-size: 1.5rem;
}
.sectionStock > .stock_btm > div:first-child > a > span:nth-child(2) > span:last-child {
  display: flex;
  gap: 0.4rem;
  font-size: 0.9rem;
  color: #3172e7;
  letter-spacing: -0.5px;
}
.sectionStock > .stock_btm > div:first-child > a > span:nth-child(2) > span:last-child > span:first-child {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.sectionStock > .stock_btm > div:first-child > a > span:nth-child(2) > span:last-child > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -395px -420px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.sectionStock > .stock_btm > div:first-child > a > span:last-child {
  padding-top: 0.8rem;
  font-size: 0.8rem;
  color: #606060;
}
.sectionStock > .stock_btm > div:last-child {
  width: 180px;
}
.sectionStock > .stock_btm > div:last-child > ul > li:first-child > a > span > span:last-child > span:first-child, .sectionStock > .stock_btm > div:last-child > ul > li:nth-child(2) > a > span > span:last-child > span:first-child {
  color: #3172e7;
}
.sectionStock > .stock_btm > div:last-child > ul > li:first-child > a > span > span:last-child > span:first-child::after, .sectionStock > .stock_btm > div:last-child > ul > li:nth-child(2) > a > span > span:last-child > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -395px -420px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.sectionStock > .stock_btm > div:last-child > ul > li:nth-child(3) > a > span > span:last-child > span:first-child {
  color: #cd3534;
}
.sectionStock > .stock_btm > div:last-child > ul > li:nth-child(3) > a > span > span:last-child > span:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -421px -420px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.sectionStock > .stock_btm > div:last-child > ul > li > a:hover > span {
  text-decoration: underline;
}
.sectionStock > .stock_btm > div:last-child > ul > li > a > span {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sectionStock > .stock_btm > div:last-child > ul > li > a > span > span:first-child {
  font-size: 0.93rem;
  letter-spacing: -0.5px;
  width: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sectionStock > .stock_btm > div:last-child > ul > li > a > span > span:last-child {
  display: flex;
  gap: 0.2rem;
  font-size: 0.8rem;
}
.sectionStock > .stock_btm > div:last-child > ul > li > a > span > span:last-child > span:first-child {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.sectionStock > .stock_btm > div:last-child > ul > li:last-child > a {
  position: relative;
}
.sectionStock > .stock_btm > div:last-child > ul > li:last-child > a::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 15px;
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1.5px solid #606060;
  border-right: 1.5px solid #606060;
  transform: rotate(45deg);
}
.sectionStock > .stock_btm > div:last-child > ul > li:last-child > a > span {
  font-size: 0.95rem;
  color: #606060;
  letter-spacing: -0.5px;
}

.sectionNews {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.2rem;
}
.sectionNews > div.news_top > ul {
  display: flex;
  padding-block: 0.95rem;
}
.sectionNews > div.news_top > ul > li:not(:first-child):not(:last-child) {
  padding-inline: 0.9rem;
}
.sectionNews > div.news_top > ul > li:not(:first-child) {
  position: relative;
}
.sectionNews > div.news_top > ul > li:not(:first-child)::before {
  content: "/";
  position: absolute;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
}
.sectionNews > div.news_top > ul > li:first-child {
  padding-right: 0.8rem;
}
.sectionNews > div.news_top > ul > li:last-child {
  padding-left: 0.8rem;
}
.sectionNews > div.news_top > ul > li:first-child {
  display: flex;
  gap: 0.4rem;
}
.sectionNews > div.news_top > ul > li:first-child > button:last-child {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.sectionNews > div.news_top > ul > li:first-child > button:last-child::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.sectionNews > div.news_top > ul > li:nth-child(3) > button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.sectionNews > div.news_top > ul > li:nth-child(3) > button > span:last-child {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-inline: 0.3rem;
  background: #f4361e;
  border-radius: 50px;
  height: 19px;
}
.sectionNews > div.news_top > ul > li:nth-child(3) > button > span:last-child > i::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -271px -318px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
}
.sectionNews > div.news_top > ul > li:nth-child(3) > button > span:last-child > span {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
  transform: translateY(1px);
}
.sectionNews > div.news_top > ul > li > button {
  font-size: 1.1rem;
  color: #606060;
}
.sectionNews > div.news_top > .news {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.sectionNews > div.news_top > .news > div {
  display: flex;
}
.sectionNews > div.news_top > .news > div:first-child {
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  background: #f5f7f8;
  border-radius: 5px;
}
.sectionNews > div.news_top > .news > div:first-child > div {
  display: flex;
  align-items: center;
}
.sectionNews > div.news_top > .news > div:first-child > div:first-child {
  position: relative;
}
.sectionNews > div.news_top > .news > div:first-child > div:first-child > button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #606060;
  font-size: 1rem;
}
.sectionNews > div.news_top > .news > div:first-child > div:first-child > button:hover {
  text-decoration: underline;
}
.sectionNews > div.news_top > .news > div:first-child > div:first-child > button > i::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -344px -78px;
  background-repeat: no-repeat;
  width: 9px;
  height: 6px;
}
.sectionNews > div.news_top > .news > div:first-child > div:first-child > ul {
  position: absolute;
  display: none;
}
.sectionNews > div.news_top > .news > div:first-child > div:nth-child(2) {
  position: relative;
  display: flex;
  gap: 0.4rem;
  margin-left: 1.5rem;
}
.sectionNews > div.news_top > .news > div:first-child > div:nth-child(2)::before {
  content: "";
  position: absolute;
  left: -12px;
  display: block;
  width: 1px;
  height: 12px;
  background: rgba(0, 0, 0, 0.1);
}
.sectionNews > div.news_top > .news > div:first-child > div:nth-child(2) > a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.93rem;
  letter-spacing: -0.5px;
}
.sectionNews > div.news_top > .news > div:first-child > div:nth-child(2) > a::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.sectionNews > div.news_top > .news > div:first-child > div:nth-child(2) > a:hover {
  text-decoration: underline;
}
.sectionNews > div.news_top > .news > div:first-child > div:nth-child(2) > ul > li > a {
  display: block;
  width: 390px;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sectionNews > div.news_top > .news > div:first-child > div:last-child {
  position: relative;
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
}
.sectionNews > div.news_top > .news > div:first-child > div:last-child::before {
  content: "";
  position: absolute;
  left: 5.2rem;
  display: block;
  width: 1px;
  height: 12px;
  background: rgba(0, 0, 0, 0.1);
}
.sectionNews > div.news_top > .news > div:first-child > div:last-child > a {
  font-size: 0.93rem;
  letter-spacing: -0.5px;
}
.sectionNews > div.news_top > .news > div:first-child > div:last-child > a:last-child {
  font-weight: bold;
}
.sectionNews > div.news_top > .news > ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.sectionNews > div.news_top > .news > ul > li {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sectionNews > div.news_top > .news > ul > li:nth-child(1), .sectionNews > div.news_top > .news > ul > li:nth-child(7), .sectionNews > div.news_top > .news > ul > li:nth-child(13), .sectionNews > div.news_top > .news > ul > li:nth-child(19) {
  border-left: none;
}
.sectionNews > div.news_top > .news > ul > li:nth-child(n+19):nth-child(-n+25) {
  border-bottom: none;
}
.sectionNews > div.news_top > .news > ul > li:hover > div {
  display: flex;
}
.sectionNews > div.news_top > .news > ul > li > a {
  display: flex;
  justify-content: center;
  padding-block: 1.1rem;
}
.sectionNews > div.news_top > .news > ul > li > div {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background: #3172e7;
}
.sectionNews > div.news_top > .news > ul > li > div > a {
  position: relative;
  font-size: 0.9rem;
  color: white;
}
.sectionNews > div.news_top > .news > ul > li > div > a:first-child {
  display: flex;
  align-items: center;
}
.sectionNews > div.news_top > .news > ul > li > div > a:first-child::before {
  content: "";
  position: absolute;
  right: -7px;
  display: block;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
}
.sectionNews > div.news_top > .news > ul > li > div > a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.sectionNews > div.news_btm {
  display: flex;
  justify-content: center;
}
.sectionNews > div.news_btm::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.sectionNews > div.news_btm > div {
  padding-block: 0.6rem;
}
.sectionNews > div.news_btm > div:first-child {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: 100%;
}
.sectionNews > div.news_btm > div:first-child > button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.sectionNews > div.news_btm > div:first-child > button:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #606060;
  border-left: 2px solid #606060;
  transform: rotate(-45deg) translateX(1px) translateY(1px);
}
.sectionNews > div.news_btm > div:first-child > button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.sectionNews > div.news_btm > div:first-child > button:last-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #606060;
  border-right: 2px solid #606060;
  transform: rotate(45deg) translateX(-1px) translateY(1px);
}
.sectionNews > div.news_btm > div:first-child > p {
  display: flex;
  gap: 0.3rem;
  font-size: 0.83rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.sectionNews > div.news_btm > div:first-child > p > span:first-child {
  color: #3172e7;
}
.sectionNews > div.news_btm > div:first-child > p > span:nth-child(2), .sectionNews > div.news_btm > div:first-child > p > span:last-child > span:first-child {
  color: #606060;
}
.sectionNews > div.news_btm > div:first-child > p > span:last-child {
  display: flex;
}
.sectionNews > div.news_btm > div:first-child > p > span:last-child > span:last-child {
  color: rgba(0, 0, 0, 0.3);
}
.sectionNews > div.news_btm > div:last-child {
  position: absolute;
  bottom: 0.65rem;
  right: 1.2rem;
  display: flex;
  gap: 1.1rem;
}
.sectionNews > div.news_btm > div:last-child > button:first-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -218px -370px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.sectionNews > div.news_btm > div:last-child > button:last-child::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(/naver/assets/images/sp_main.6bbd194f.png);
  background-size: 468px 456px;
  background-position: -248px -397px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.sectionShoppings {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
}
.sectionShoppings > .shoppings_top {
  display: flex;
  justify-content: space-between;
}
.sectionShoppings > .shoppings_top > ul {
  position: relative;
  display: flex;
  gap: 1.8rem;
}
.sectionShoppings > .shoppings_top > ul > li {
  position: relative;
}
.sectionShoppings > .shoppings_top > ul > li:not(:first-child) > button::before {
  content: "/";
  position: absolute;
  left: -1rem;
  color: rgba(0, 0, 0, 0.2);
}
.sectionShoppings > .shoppings_top > ul > li > button {
  font-size: 1.1rem;
  display: flex;
  align-items: flex-end;
  color: #606060;
}
.sectionShoppings > .shoppings_top > ul > li > button:hover {
  text-decoration: underline;
}
.sectionShoppings > .shoppings_top > div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.sectionShoppings > .shoppings_top > div > p {
  display: flex;
  font-size: 0.8rem;
}
.sectionShoppings > .shoppings_top > div > p > span:first-child {
  color: #606060;
  font-weight: bold;
}
.sectionShoppings > .shoppings_top > div > p > span:last-child {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.sectionShoppings > .shoppings_top > div > div {
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sectionShoppings > .shoppings_top > div > div::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  left: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.sectionShoppings > .shoppings_top > div > div > button {
  position: relative;
  padding-block: 0.55rem;
  padding-inline: 0.85rem;
}
.sectionShoppings > .shoppings_top > div > div > button::before {
  content: "";
  position: absolute;
  top: 0px;
  display: block;
  width: 5px;
  height: 5px;
  border-top: 2px solid #80868c;
}
.sectionShoppings > .shoppings_top > div > div > button:first-child::before {
  border-left: 2px solid #80868c;
  transform: rotate(-45deg) translateX(-1px);
}
.sectionShoppings > .shoppings_top > div > div > button:last-child::before {
  border-right: 2px solid #80868c;
  transform: rotate(45deg) translateX(-4px) translateY(5px);
}
.sectionShoppings > .shoppings_mid {
  display: flex;
  gap: 1.2rem;
}
.sectionShoppings > .shoppings_mid > div:first-child {
  flex: 0.48;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f5f7f8;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child > ul {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child > ul > li {
  position: relative;
  display: flex;
  align-items: center;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child > ul > li:not(:last-child) > a {
  display: flex;
  align-items: center;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child > ul > li > a {
  font-size: 0.8rem;
  white-space: nowrap;
  color: #606060;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child > ul > li > a:hover {
  text-decoration: underline;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:first-child > ul > li > span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) {
  background: #f5f7f8;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul {
  display: flex;
  justify-content: space-around;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li:first-child > a > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_main.8149d447.png);
  background-size: 216px 190px;
  background-position: -124px -34px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li:nth-child(2) > a > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_main.8149d447.png);
  background-size: 216px 190px;
  background-position: -68px -102px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li:nth-child(3) > a > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_main.8149d447.png);
  background-size: 216px 190px;
  background-position: 0 -102px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li:last-child > a > i::before {
  content: "";
  display: block;
  background-image: url(/naver/assets/images/sp_main.8149d447.png);
  background-size: 216px 190px;
  background-position: -19px -174px;
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li > a:hover {
  text-decoration: underline;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li > a > i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
}
.sectionShoppings > .shoppings_mid > div:first-child > div:nth-child(2) > ul > li > a > p {
  font-size: 0.8rem;
  color: #606060;
}
.sectionShoppings > .shoppings_mid > div:first-child > a {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.sectionShoppings > .shoppings_mid > div:first-child > a > span:first-child {
  display: block;
  width: 248px;
  height: 146px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
}
.sectionShoppings > .shoppings_mid > div:first-child > a > span:first-child:hover + span {
  text-decoration: underline;
}
.sectionShoppings > .shoppings_mid > div:first-child > a > span:first-child:hover > img {
  scale: 1.05;
  transition: scale 0.2s;
}
.sectionShoppings > .shoppings_mid > div:first-child > a > span:last-child {
  display: block;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: -1px;
}
.sectionShoppings > .shoppings_mid > div:first-child > a > span:last-child:hover {
  text-decoration: underline;
}
.sectionShoppings > .shoppings_mid > div:last-child {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.sectionShoppings > .shoppings_mid > div:last-child > a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sectionShoppings > .shoppings_mid > div:last-child > a > span {
  display: block;
  width: 98px;
  height: 126px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.sectionShoppings > .shoppings_mid > div:last-child > a > span:hover > img {
  scale: 1.05;
}
.sectionShoppings > .shoppings_mid > div:last-child > a > span > img {
  transition: scale 0.2s;
}
.sectionShoppings > .shoppings_mid > div:last-child > a > p {
  font-size: 0.85rem;
  word-break: keep-all;
  letter-spacing: -0.5px;
}
.sectionShoppings > .shoppings_mid > div:last-child > a > p:hover {
  text-decoration: underline;
}
.sectionShoppings > .shoppings_advert {
  display: flex;
  align-items: flex-end;
  background: #f5f7f8;
  padding-block: 0.9rem;
  padding-inline: 1.4rem;
  border-radius: 5px;
  margin-block: 0.3rem;
}
.sectionShoppings > .shoppings_advert > p {
  display: flex;
  align-items: center;
  font-size: 0.92rem;
  font-weight: 500;
}
.sectionShoppings > .shoppings_advert > p::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-inline: 0.5rem;
}
.sectionShoppings > .shoppings_advert > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 87%;
}
.sectionShoppings > .shoppings_advert > a > p {
  display: flex;
  align-items: center;
}
.sectionShoppings > .shoppings_advert > a > p > span {
  font-size: 0.95rem;
  letter-spacing: -0.5px;
  white-space: pre;
}
.sectionShoppings > .shoppings_advert > a > p > span:first-child, .sectionShoppings > .shoppings_advert > a > p > span:last-child {
  color: #606060;
}
.sectionShoppings > .shoppings_advert > a > p > span:nth-child(2) {
  color: #9858f5;
}
.sectionShoppings > .shoppings_btm::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.sectionShoppings > .shoppings_btm > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 0.7rem;
}
.sectionShoppings > .shoppings_btm > div > button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.sectionShoppings > .shoppings_btm > div > button:first-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #606060;
  border-left: 2px solid #606060;
  transform: rotate(-45deg) translateX(1px) translateY(1px);
}
.sectionShoppings > .shoppings_btm > div > button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.sectionShoppings > .shoppings_btm > div > button:last-child::before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #606060;
  border-right: 2px solid #606060;
  transform: rotate(45deg) translateX(-1px) translateY(1px);
}
.sectionShoppings > .shoppings_btm > div > p {
  display: flex;
  gap: 0.3rem;
  font-size: 0.87rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.sectionShoppings > .shoppings_btm > div > p > span:first-child {
  color: #9858f5;
}
.sectionShoppings > .shoppings_btm > div > p > span:nth-child(2), .sectionShoppings > .shoppings_btm > div > p > span:last-child > span:first-child {
  color: #606060;
}
.sectionShoppings > .shoppings_btm > div > p > span:last-child {
  display: flex;
}
.sectionShoppings > .shoppings_btm > div > p > span:last-child > span:last-child {
  color: rgba(0, 0, 0, 0.3);
}
.sectionShoppings > .shoppings_btm > p {
  position: absolute;
  display: flex;
  bottom: 1.2rem;
  right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-inline: 0.5rem;
  letter-spacing: -1px;
  font-size: 0.8rem;
  color: #606060;
  border-radius: 3px;
}

.sectionSubScribe {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 1rem;
}
.sectionSubScribe > .subScribe_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionSubScribe > .subScribe_top > ul {
  position: relative;
  display: flex;
  gap: 1.8rem;
}
.sectionSubScribe > .subScribe_top > ul > li {
  position: relative;
}
.sectionSubScribe > .subScribe_top > ul > li:not(:first-child) > button::before {
  content: "/";
  position: absolute;
  left: -1rem;
  color: rgba(0, 0, 0, 0.2);
}
.sectionSubScribe > .subScribe_top > ul > li > button {
  font-size: 1.05rem;
  display: flex;
  align-items: flex-end;
  color: #606060;
}
.sectionSubScribe > .subScribe_top > ul > li > button:hover {
  text-decoration: underline;
}
.sectionSubScribe > .subScribe_top > a {
  display: flex;
  align-items: center;
  font-size: 0.93rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  gap: 0.2rem;
}
.sectionSubScribe > .subScribe_top > a::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}
.sectionSubScribe > .subScribe_suggest > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a:hover > span > img {
  scale: 1.05;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a > span:first-child {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a > span:first-child > img {
  transition: scale 0.3s;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a > span:nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.95rem;
  letter-spacing: -1px;
  overflow: hidden;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a > span:last-child {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  color: #606060;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a > span:last-child > img {
  border-radius: 50%;
}
.sectionSubScribe > .subScribe_suggest > ul > li > a > span:last-child > span:nth-child(2) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  min-width: 1340px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, a {
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "ë§‘ì€ ê³ ë”•", helvetica, "Apple SD Gothic Neo", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header,
main {
  width: 1280px;
  margin: 0 auto;
}