<div class="edit-top">
    <div>
        <div>
            <button type="button">
                <span>분야별 뉴스</span>
                <i></i>
            </button>
        </div>
        <div>
            <a href="#">매일신문</a>
            <ul>
                <li>
                    <p>속보</p>
                    <a href="#">尹 순방길 전용기에 '참이슬 프레쉬' 페트 10병 실렸다</a>
                </li>
            </ul>
        </div>
        <div>
            <a href="#">뉴스홈</a>
        </div>
    </div>
</div>
<div class="edit-btm">
    <div>
        <button type="button" aria-label="이전 페이지"></button>
        <p>
            <span>언론사</span>
            <span>더보기</span>
            <span>
                <span>1</span>
                <span>/21</span>
            </span>
        </p>
        <button type="button" aria-label="다음 페이지"></button>
    </div>
</div>