<div class="enter-top">
    <div>
        <ul>
            <li><a href="#">드라마</a></li>
            <li><a href="#">영화</a></li>
            <li><a href="#">뮤직</a></li>
            <li><a href="#">연애</a></li>
            <li><a href="#">네이버TV</a></li>
            <li><a href="#">연재</a></li>
        </ul>
        <a href="#">엔터홈</a>
    </div>
</div>
<div class="enter-btm">
    <div>
        <button type="button" aria-label="이전 페이지"></button>
        <p>
            <span>엔터 소식</span>
            <span>더보기</span>
            <span>
                <span>1</span>
                <span>/3</span>
            </span>
        </p>
        <button type="button" aria-label="다음 페이지"></button>
    </div>
</div>