<div class="news-top">
    <div>
        <div>
            <button type="button">
                <span>전체언론사</span>
                <i></i>
            </button>
        </div>
        <div>
            <a href="#">연합뉴스</a>
            <ul>
                <li><a href="#">'국회 패스트트랙 충돌' 1심 5년만에 구형...내달 15일 심리종결</a></li>
            </ul>
        </div>
        <div>
            <a href="#">뉴스스탠드</a>
            <a href="#">뉴스홈</a>
        </div>
    </div>
</div>
<div class="news-btm">
    <div>
        <button type="button" aria-label="이전 페이지"></button>
        <p>
            <span>언론사</span>
            <span>더보기</span>
            <span>
                <span>1</span>
                <span>/4</span>
            </span>
        </p>
        <button type="button" aria-label="다음 페이지"></button>
    </div>
    <div>
        <button type="button" role="radio" aria-label="리스트형" aria-checked="false"></button>
        <button type="button" role="radio" aria-label="썸네일형" aria-checked="true"></button>
    </div>
</div>