<div class="sport-top">
    <div>
        <ul>
            <li><a href="#">야구</a></li>
            <li><a href="#">해외야구</a></li>
            <li><a href="#">축구</a></li>
            <li><a href="#">해외축구</a></li>
            <li><a href="#">농구</a></li>
            <li><a href="#">배구</a></li>
            <li><a href="#">N골프</a></li>
            <li><a href="#">일반</a></li>
            <li><a href="#">e스포츠</a></li>
            <li><a href="#">아웃도어</a></li>
        </ul>
        <a href="#">스포츠홈</a>
    </div>
</div>
<div class="sport-btm">
    <div>
        <button type="button" aria-label="이전 페이지"></button>
        <p>
            <span>스포츠 소식</span>
            <span>더보기</span>
            <span>
                <span>1</span>
                <span>/3</span>
            </span>
        </p>
        <button type="button" aria-label="다음 페이지"></button>
    </div>
    <div>
        <button type="button" role="radio" aria-label="리스트형" aria-checked="false"></button>
        <button type="button" role="radio" aria-label="썸네일형" aria-checked="true"></button>
    </div>
</div>